Adafruit-ADS1x15==1.0.2
Adafruit-Blinka==8.39.1
adafruit-circuitpython-ads1x15==2.2.25
adafruit-circuitpython-busdevice==5.2.6
adafruit-circuitpython-connectionmanager==1.0.1
adafruit-circuitpython-ina260==1.3.15
adafruit-circuitpython-register==1.9.18
adafruit-circuitpython-requests==3.2.5
adafruit-circuitpython-typing==1.10.3
Adafruit-GPIO==1.0.3
Adafruit-PlatformDetect==3.62.0
Adafruit-PureIO==1.1.11
Brotli @ file:///C:/Windows/Temp/abs_63l7912z0e/croots/recipe/brotli-split_1659616056886/work
certifi @ file:///C:/b/abs_35d7n66oz9/croot/certifi_1707229248467/work/certifi
charset-normalizer @ file:///tmp/build/80754af9/charset-normalizer_1630003229654/work
docopt @ file:///C:/b/abs_d3qvsxazhu/croots/recipe/docopt_1663662414930/work
idna @ file:///C:/b/abs_bdhbebrioa/croot/idna_1666125572046/work
install==1.3.5
pipreqs==0.4.13
pyftdi==0.55.4
pyserial==3.5
PySocks @ file:///C:/ci_310/pysocks_1642089375450/work
pyusb==1.2.1
requests @ file:///C:/b/abs_474vaa3x9e/croot/requests_1707355619957/work
simple-pid @ file:///home/conda/feedstock_root/build_artifacts/simple-pid_1627069334152/work
smbus2 @ file:///home/conda/feedstock_root/build_artifacts/smbus2_1693011935891/work
typing_extensions==4.11.0
urllib3 @ file:///C:/b/abs_4etpfrkumr/croot/urllib3_1707770616184/work
win-inet-pton @ file:///C:/ci_310/win_inet_pton_1642658466512/work
yarg==0.1.9
